<%= link_to "Home", root_path %>
<%= link_to "Edit", edit_post_path %>
<%= button_to "Delete", @post, method: :delete %>

<h2><%= @post.title %></h2>
<article>
  <%= @post.content %>
</article>

<div id="comment">
  <%= render @post.comments %>
</div>

<%= turbo_frame_tag "new_comment", src: new_post_comment_path(@post), target: "_top" %>
